<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <script src="main.js"></script>
  

</head>

<body>
    <div id="id1" class="estilo1 centrado">
        <br>
        <br>
        <img title="paraíso" src="../pasta/fundo.jpg" alt="Falta imagem" width="150px" height="200px" <br>
        <p> hello word </p>
        <p> hello word </p>
    </div>

    <div class="centrado  imagem-fundo">
        <h1> Titulo </h1>
    </div>

    <div class="centrado" >
        <a href="https://www.w3schools.com/cssref/pr_text_text-align.asp" target="_blank" title="link"> hiperligacao </a>
    </div>
    

</body>

</html>